#form {
    margin-top: 30px;
    padding: 20px;
    border: .5px solid rgba(128,128,128, .3);
    border-bottom: .5px solid gray;
    border-radius: 10px;
    border-top-width:thin ;
    color: #304585;
}

.radiobtn{
    background-color: #673ab7;
}

.btn{
    color: #673ab7;
    font-weight: 500;
    border: 1px solid rgba(128,128,128, .3)
}

.top-border{
    border-top: .5px solid #304585
}

.input-width{
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    color: #304585 ;
    border: 1px solid rgba(128,128,128, .3);
}

.input-width:hover{
    
    border: 1px solid rgb(10, 10, 10);
}

::placeholder{
    color: #304585;
}